@import url('http://fonts.cdnfonts.com/css/intro');
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;1,200;1,300;1,400&display=swap');

#main-container,
html,
body {
    background-color: whitesmoke;
}



/*NAV BAR*/

.logo {
    font-family: 'Arvo', serif;
    font-weight: 700;
}


.navbar-brand {
    font-size: 30px;

    font-weight: 500;
}

.nav-item {
    font-size: 18px;
    font-family: 'Arvo', serif;
    font-weight: 200;
}



.article-name {
    text-align: center;
    font-family: 'Intro Demo', sans-serif;
    font-size: 1.27em;
}

/*ARTICLES*/
.articles {
    margin-top: 13vh;
}

a {
    text-decoration: none;
    color: hsl(0, 0%, 0%);
}

/*FOOTER*/
.special {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.special-2 {
    position: fixed;
    bottom: 0;
    width: 100%;
}




.footer-dark {
    padding: 50px 0;
    color: #f0f9ff;
    background-color: hsl(0, 0%, 90%);
}


.footer-dark .item.social {
    text-align: center;
}



.footer-dark .item.social>a {
    font-size: 20px;
    width: 36px;
    height: 36px;
    line-height: 5rem;
    text-align: center;
    margin: 0 0.9em;
}

.copyRight {
    color: black;
}

/*article*/
.header {
    font-family: 'Intro Demo', sans-serif;
    font-size: 2em;
}

.text-article {
    font-size: 1.2em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

@media only screen and (max-width: 992px) {

    /*FOOTER*/
    .special {
        position: static;
        bottom: 0;
        width: 100%;
        transition: transform .54s ease-in-out;
    }
}

.ChinkoLabel {
    display: flex;
    justify-content: center;
}

.welcome-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.35em;
    margin-top: 1em;
}


.button1 {
    border: black 2px solid;
    background-color: black;
    color: white;
    font-size: 1.2em;
    width: 175px;
    margin-top: 1.75em;
    transition: transform .54s ease-in-out;
}

.button4 {
    border: black 2px solid;
    background-color: black;
    color: white;
    font-size: 1.2em;
    width: 175px;
    margin-top: 1.75em;
    transition: transform .54s ease-in-out;
    margin-bottom: 1em;
}

.icon {
    transition: transform .54s ease-in-out;
}

.icon:hover {
    transform: rotate(360deg);
}

.button {
    border: black 2px solid;
    background-color: black;
    color: white;
    font-size: 1.2em;
    width: 175px;
    margin-top: 1.75em;
    transition: transform .54s ease-in-out;
}

.question {
    font-size: 1.7em;
    margin-bottom: 1em;
}

.textB {
    width: 18em;
    margin-top: 0.5em;
}

.text-drive {
    font-size: 1.8em;
    margin-top: 1em;
    text-align: center;
}

.text-drive-2 {
    font-size: 1.6em;

    text-align: center;
}

@media only screen and (max-width: 482px) {
    .text-drive {
        font-size: 1.5em;
        margin-top: 1em;
    }

    .text-drive-2 {
        font-size: 1.6em;

        text-align: center;
    }
}


#nextstep {
    display: flex;
    place-content: center;
    margin-top: 50px;
}

.button3 {
    margin-bottom: 1em;
    border: black 2px solid;
    border-radius: 10px;
    font-size: 1.2em;
    width: 175px;
    margin-top: 1.75em;
}

/*effects*/
.button3:hover {
    background-color: hsl(0, 0%, 30%);

}

.button:hover {
    background-color: hsl(0, 0%, 30%);

}

.button1:hover {
    background-color: hsl(0, 0%, 30%);

}

.button4:hover {
    background-color: hsl(0, 0%, 30%);

}