@import url('http://fonts.cdnfonts.com/css/intro');
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap');

#main-container,
html,
body {
    background-color: whitesmoke;
}



/*NAV BAR*/

.logo {
    font-family: 'Arvo', serif;
    font-weight: 700;
}


.navbar-brand {
    font-size: 30px;

    font-weight: 500;
}

.nav-item {
    font-size: 18px;
    font-family: 'Arvo', serif;
    font-weight: 200;
}



.article-name {
    text-align: center;
    font-family: 'Intro Demo', sans-serif;
    font-size: 1.27em;
}

/*ARTICLES*/
.articles {
    margin-top: 22vh;
}

a {
    text-decoration: none;
    color: hsl(0, 0%, 0%);
}

/*FOOTER*/



.footer-dark {
    padding: 50px 0;
    color: #f0f9ff;
    background-color: hsl(0, 0%, 90%);
}


.footer-dark .item.social {
    text-align: center;
}



.footer-dark .item.social>a {
    font-size: 20px;
    width: 36px;
    height: 36px;
    line-height: 5rem;
    text-align: center;
    margin: 0 0.9em;
}

.copyRight {
    color: black;
}